.body,html{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.logo_img{
    filter:drop-shadow( 0px 0px 12px rgb(234, 233, 228));
}
.bg-orange{
    background-color: #69bf8d;
}
.navbar .nav-link:hover{
    color:rgb(245, 245, 248);
    font-size: 18px;
    /* text-decoration: underline; */
}

.icon_size a{
    font-size: 30px;
    margin-left: 20px;
}
.bi-instagram:hover{
    color:red;
    text-shadow: 7px 7px 7px rgb(4, 0, 0);
}
.bi-facebook:hover{
    color:rgb(25, 0, 255);
    text-shadow: 7px 7px 7px rgb(4, 0, 0);
}
.bi-twitter-x:hover{
    color:rgb(1, 0, 4);
    text-shadow: 7px 7px 7px rgb(17, 10, 10);
}

.bi-youtube:hover{
    color:rgb(228, 28, 14);
    text-shadow: 7px 7px 7px rgb(4, 0, 0);
}
.bi-whatsapp:hover{
    color:rgb(17, 241, 36);
    text-shadow: 7px 7px 7px rgb(4, 0, 0);
}

.btn_shadow{
    box-shadow:7px 7px 15px rgb(25, 25, 25);
}
.btn:hover{
    background-color: rgb(252, 255, 251) !important;
    border:rgb(255, 89, 0);
    transform: translateY(-4px);
}
.slider-img{
   height: 500px;
   object-fit: auto;
} 

.ngo-bg {
  background-color: #e4d8d0;
}
.about_shadow{
    box-shadow: 9px 9px 11px rgb(80, 77, 77);
}
.about_shadow:hover{
    transform: translateY(-10px);
    transform: scale(1.12);
}
/* Story pages */
.back-video{
    width: 100%;
    height: auto;
}

/* contact us */
.banner_img{
    width: 100% !important;
    height:500px !important;
    object-fit: auto;
}
.contact_text{
    margin-bottom: 200px;
}
.Contact_card{
    box-shadow:0px 0px 7px rgb(95, 92, 92);
}